.anasayfa {
  background-image: url("/mvp-banner.png");
  height: 100vh;
  font-family: "Barlow", sans-serif;
  text-align: center;
}
h1 {
  margin: 0;
  color: #faf7f2;
  font-size: 4.5rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
}
.anasayfa img {
  padding: 3rem;
}
.aciktim {
  color: #292929;
  background-color: #fdc913;
  display: inline-block;
  padding: 0.5rem 3rem;
  border-radius: 30px;
  margin: 2rem;
}
.firsat {
  color: #fdc913;
  font-family: "Satisfy", cursive;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.home {
  display: flex;
  flex-direction: column;
}
.home-container {
  display: flex;
  flex-direction: column;
}
.yemekler-nav {
  width: 70%;
  padding: 1.5rem 0 1.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}
.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.background {
  background-color: #faf7f2;
  display: flex;
  flex-direction: column;
}
.products {
  margin-top: 6rem;
  width: 70%;
  align-self: center;
}
.lezzetus {
  background-image: url("/kart-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 45%;
  flex-grow: 1;
}
.lezzetus h1 {
  font-size: 3.5rem;
  font-family: "Quattrocento", serif;
  font-weight: 900;
  padding: 2.5rem 0 0 2.5rem;
}
.siparis {
  margin: 2.5rem;
  background-color: #faf7f2;
  color: #ce2829;
  font-weight: 500;
  padding: 1rem 1.5rem;
  border-radius: 30px;
}
.food-banners {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5rem;
}
.lezzetus h3 {
  color: #faf7f2;
  padding: 0 0 2rem 2.5rem;
}
.burger-kurye {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-grow: 1;
  align-content: space-between;
  flex-wrap: wrap;
}
.hackathlon-burger {
  background-image: url("/adv-aseets/kart-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 45%;
  flex-grow: 1;
  width: 100%;
}
.hackathlon-burger h2 {
  padding: 1rem 0 0 2.5rem;
  color: #faf7f2;
  font-size: 2rem;
}
.hackathlon-burger span {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin: 0 0 2rem 2rem;
}
.kurye {
  background-image: url("/adv-aseets/kart-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 45%;
}
.kurye h2 {
  padding: 1rem 0 0 2rem;
  font-size: 2rem;
}
.kurye span {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin: 0 0 2rem 2rem;
}
.basliklar {
  text-align: center;
}
.baslik-italik {
  margin-top: 7rem;
  font-family: "Satisfy", cursive;
  color: #ce2829;
  font-size: 2rem;
  margin-bottom: 0;
}
.lezzet-baslik {
  font-size: 2.5rem;
  margin: 0;
}
.lower-nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.nav-eleman {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  padding: 1rem 2rem;
  font-weight: 700;
  gap: 0.5rem;
}
.nav-eleman:hover {
  background-color: #292929;
  color: #faf7f2;
}
.nav-eleman a:hover {
  color: #faf7f2;
}
.yiyecekler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.yiyecek {
  background-color: white;
  padding: 1.5rem 3rem;
}
.yiyecek-sayilar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-isim {
  font-size: 1.4rem;
  margin: 0;
  padding-top: 1rem;
  color: #292929;
}
.fiyat {
  font-size: 1.1rem;
  font-weight: 900;
  color: #292929;
}
