footer {
  background-color: #292929;
  display: flex;
  justify-content: center;
}
footer h2,
p,
h3 {
  color: #faf7f2;
}
footer h2 {
  font-size: 2rem;
}
.footer-container {
  width: 70%;
  padding: 1.5rem 0 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}
.contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact img {
  height: 50%;
}
.footer-basliklar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.instagram {
  flex-basis: 20%;
}
.instagram img {
  width: 30%;
}
.beyazimsi {
  color: #faf7f2 !important;
}
