* {
  font-family: "Barlow", sans-serif;
  color: #5f5f5f;
  box-sizing: border-box;
}
.order-page h3,
h2 {
  color: #292929;
}

.order-page p {
  color: #5f5f5f;
}
.order-header {
  background-color: #ce2829;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 1rem 0;
  gap: 2rem;
}
.order-header nav {
  text-decoration: none;
  color: #faf7f2;
  width: 33%;
  display: flex;
  font-size: 1rem;
}
.order-header a,
span,
b {
  color: #faf7f2;
}
.required {
  color: #ce2829;
}

.pizza-order {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-self: center;
}
.order-page {
  display: flex;
  flex-direction: column;
}
.pizza-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews {
  display: flex;
  gap: 2rem;
  width: 30%;
  justify-content: space-between;
}
.size-dough {
  display: flex;
  justify-content: space-between;
}
.dough {
  width: 35%;
}
.toppings {
  display: flex;
  flex-wrap: wrap;
}
.toppings b {
  color: #5f5f5f;
}
.topping {
  width: 33%;
  padding: 0 0 1rem 0;
}
.order-note input {
  width: 100%;
}
.order-note {
  padding: 0 1rem 1rem 1rem;
}
.order-number {
  display: flex;
  align-items: flex-start;
}
.order-number p {
  padding: 1rem;
  color: #292929;
  font-size: 1.2rem;
  border: #cccccc 0.8px solid;
  border-radius: 5px;
}
.arti-eksi {
  background-color: #fdc913;
  cursor: pointer;
}
.order-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: #8f8f8f solid 1px;
}
.order-calc {
  width: 70%;
  border: #cccccc 0.8px solid;
  border-radius: 3%;
}

.secimler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.secimler b {
  color: #aaa8a8;
}

.toplam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.toplam b {
  color: #ce2829;
}
#order-button {
  background-color: #fdc913;
  width: 100%;
  border: none;
  padding: 1.2rem;
  border-radius: 3%;
}
#order-button b {
  color: #292929;
  font-size: 1.2rem;
}
.secimler-toplam {
  padding: 1.5rem 2rem;
}
.size-text {
  color: #5f5f5f;
  text-align: left;
}
.size input {
  margin: 0;
  vertical-align: middle;
}
.order-note input {
  padding: 1rem;
  border: #cccccc 0.8px solid;
  font-weight: bold;
  border-radius: 5px;
}
.name-input input {
  width: 50%;
  padding: 0.5rem;
  border: #cccccc 0.8px solid;
  font-weight: bold;
  border-radius: 5px;
}
.errors {
  display: flex;
  flex-direction: column;
}
.error {
  color: #ce2829 !important;
  margin: 0.5rem;
}
.dough select {
  border: #cccccc 0.8px solid;
  border-radius: 5px;
  padding: 0.8rem;
  font-size: 1rem;
}
