* {
  font-family: "Barlow", sans-serif;
  color: #5f5f5f;
}
h3,
h2 {
  color: #292929;
}

p {
  color: #5f5f5f;
}
.order-header {
  background-color: #ce2829;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-header nav {
  text-decoration: none;
  color: #faf7f2;
  width: 33%;
  display: flex;
  font-size: 1.5rem;
}
.order-header a,
span {
  color: #faf7f2;
}
.required {
  color: #ce2829;
}

.pizza-order {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-self: center;
}
.order-page {
  display: flex;
  flex-direction: column;
}
.pizza-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews {
  display: flex;
  gap: 2rem;
  width: 30%;
  justify-content: space-between;
}
.size-dough {
  display: flex;
  justify-content: space-between;
}
.dough {
  width: 35%;
}
.toppings {
  display: flex;
  flex-wrap: wrap;
}
.topping {
  width: 33%;
  padding: 0 0 1rem 0;
}
.order-note input {
  width: 100%;
}
.order-number {
  display: flex;
}
.order-number p {
  padding: 1rem;
  color: #292929;
}
.arti-eksi {
  background-color: #fdc913;
}
